.App {
  background-image: url(C:\Users\Denislav Kirchev\Desktop\React\Gameinfluencer marketing campaign\campaign\src\flat,750x,075,f-pad,750x1000,f8f8f8.jpg),
    url(C:\Users\Denislav Kirchev\Desktop\React\Gameinfluencer marketing campaign\campaign\src\flat,750x,075,f-pad,750x1000,f8f8f8.jpg);
  background-position: left, right;
  background-repeat: no-repeat;
}

.form {
  margin: 0px 500px 0px 500px;
  background-color: rgb(240, 124, 95);
  border: 1px solid black;
}

.textarea {
  background-color: rgb(191, 231, 139);
}
.inputText {
  width: 300px;
  background-color: rgb(191, 231, 139);
}

.hiddenInput {
  display: none;
}

.select {
  background-color: rgb(191, 231, 139);
}
.submitButton {
  width: 100px;
  height: 50px;
  background-color: rgb(191, 231, 139);
  cursor: pointer;
}

.submitButton:hover {
  background-color: rgb(153, 26, 26);
}

.table,
.tr,
.th,
.tr,
.td {
  margin: 0px 300px 100px 500px;
  border: 1px solid black;
  background-color: rgb(183, 219, 53);
}

.table {
  border-collapse: collapse;
  width: 640px;
}
