.App {
  background-image: url("C:\Users\Denislav Kirchev\Desktop\React\GameCampaign\gameinfluencer\styles\images\flat,750x,075,f-pad,750x1000,f8f8f8.jpg"),
    url("C:\Users\Denislav Kirchev\Desktop\React\GameCampaign\gameinfluencer\styles\images\flat,750x,075,f-pad,750x1000,f8f8f8.jpg");
  background-position: left, right;
  background-repeat: no-repeat;
}
